<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                    <span class="h2 font-weight-bold mb-0">924</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Date du jour</h5>
                    <span class="h2 font-weight-bold mb-0">{{today | date:'dd-MM-yyyy'}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-clock"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0 text-center">
            <h3 class="mb-0">Ajouter un service</h3>
          </div>
          <div class="dropdown-divider"></div>
          <form [formGroup]="servService.form" (submit)="onSubmit()" novalidate>
            <input type="hidden" formControlName="idService">
              <div class="col-auto">
                  <div class="text-center">
                <label class="text-center font-weight-bold" >Nom du service</label>
            </div>
            <div class="sizing mb-4">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text bg-primary" style="color: whitesmoke;">
                <i class="fas fa-file-signature"></i>
                </span>
              </div>              
              <input type="text" formControlName="labelService" class="form-control input_user" placeholder="Nom du service ...">

              </div>
              <div style="margin-left: 182px;" *ngIf="servService.form.get('labelService').hasError('required') && servService.form.get('labelService').touched">
                <small style="color: red;"><strong>Le nom du service est obligatoire</strong></small>
                </div>
              </div>
            </div>
          
          <div class="card-footer py-4">
              <div class="text-center">
                  <button [disabled]='servService.form.invalid' class="btn btn-primary" type="submit">Ajouter</button>
              </div>
          </div>
        </form>
        </div>
      </div>
    </div>

  </div>
  